:root{
    --color-primary: rgb(53, 123, 166);
    --color-secondary: rgb(194, 194, 194);

	--default-font-size:2rem;
	--default-font-family: 'Lato';
}

html {
    font-size: 62.5%;
    font-family: var(--default-font-family);
	background-color: var(--color-white);
    background-color: #DFE3E3;
    color: white;
}

*,*::after,*::before{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 5;
    margin-top: 5rem;
}

.user-search{
    background:var(--color-primary);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%
}

.display{
    height: 80vh;
    background-image: linear-gradient(
        to bottom right, 
        rgba(224, 84, 24, .1),
		rgba(255,255,255,.1)),
    url(img/main.jpg);
    background-size: cover;
    background-position: bottom;
}

#bro-name{
    width: 80%;
}

.headers{
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.header-main{
    text-align: center;
    width: 100%;
    font-size: 10rem;
    margin-top: 7rem;
}

.header-sub{
    text-align: center;
    width: 100%;
    font-size: 8rem;
    margin-top: 5rem;
}

.user-search{
    font-size: 3rem;
}

.text-area{
    font-size: 3rem;
}

.item-panel{
    height: 40rem;
    width: 100%;
    padding: 5rem;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: var(--color-primary);
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-label{
    font-size: 5rem;
    width: 100%;
    text-align: center;
}

.card-image{
    width: 100%;
    height: 30rem;
    object-fit: cover;

}
.header-global{
    width: 100%;
}

.login{
    float: right;
    margin-right: 2rem;
    font-size: 3rem;
}

.button{
	width: 	100%;
	height: 5rem;
	text-align: center;
}
.btn {
	transition: all 1s ease;
	background-color: white;
	font-size: 20px;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
}

.btn:hover {
	background-color: var(--color-primary);
	transform: scale(1.05);
	box-shadow: 0 8 16 rgba(155,155,7);
}

.btn-continue {
	color: white;
	font-family: 'Fjalla One', sans-serif;
}

@media only screen and (max-width: 600px){
	html{
		font-size: 35% !important;
    }
    .card-label{
        font-size: 300%;
    }
}