html {
    font-size: 62.5%;
    background-color: white;
}

.item{
    display: flex;
    justify-content: center;
}

.item-image{
    width: 20%;
}

.item-information{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.item-name{
    font-size: 3rem;
}
.item-description{
    font-size: 2rem;
}
.seller-review{
    font-size: 2rem;
}



