html{
    font-size: 62.5%;
}
.body-two{
    background-image: linear-gradient(
        to bottom right, 
        rgba(224, 84, 24, .1),
		rgba(255,255,255,.1)),
    url(../img/main.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: darkblue;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.top-header{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: 'Lato';
}

.item-row{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.item{
    flex-direction: column;
    text-align: center;
    border: 0.3rem solid black;
    border-radius: 2%;
    width: 20%;
    padding: .5%;
    background-color: white;
}

.item-image{
    padding: 3%;
    width: 50%;
    border-radius: 10%;
}
.item-name{
    font-size: 2rem;
    font-family: 'Lato';
    color: black;
}
.item-description{
    font-size: 1.5rem;
    font-family: 'Lato';
    color: black;
}

@media only screen and (max-width: 600px) {
    .item-image{
        padding: 3%;
        width: 85%;
    }
    .item-name{
        font-size: 1rem;
    }
    .item-description{
        font-size: 0.1rem;
    }
}