:root {
  --color-primary: rgb(53, 123, 166);
  --color-secondary: rgb(194, 194, 194);

  --default-font-size: 2rem;
  --default-font-family: "Lato";
}

html {
  font-size: 62.5%;
  font-family: var(--default-font-family);
  background-color: var(--color-white);
  background-color: white;
  color: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 5;
  margin-top: 5rem;
}
.user-search {
  background: var(--color-primary);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
}
.user-search-banner{
    margin: 1rem;
    padding-right: 1rem;
}
.item-search {
  width: 30rem;
  height: 3rem;
}
.search-button{
  padding-left: 2rem;
  padding-right: 2rem;
}

.display {
  height: 80vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(224, 84, 24, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(../img/main.jpg);
  background-size: cover;
  background-position: bottom;
}

.headers {
  color: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header-main {
  text-align: center;
  width: 100%;
  font-size: 10rem;
  margin-top: 7rem;
}

.header-sub {
  text-align: center;
  width: 100%;
  font-size: 8rem;
  margin-top: 5rem;
}

.text-area {
  font-size: 3rem;
}

.item-panel {
  height: 60vh;
  width: 100%;
  padding: 5rem;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: var(--color-primary);
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-label {
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.header-global {
  width: 100%;
  height: 5rem;
  background-color: white;
}

.login {
  float: right;
  margin-right: 2rem;
  font-size: 3rem;
  color: black;
  background-image: url(../img/icon1.jpg);
}

.btn {
	transition: all 1s ease;
	background-color: white;
	font-size: 20px;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
}

.btn:hover {
	background-color: var(--color-primary);
	transform: scale(1.05);
	box-shadow: 0 8 16 rgba(155,155,7);
}

.btn-continue {
	color: white;
	font-family: 'Fjalla One', sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-button{
  position: fixed;
}
