
html {
  font-size: 62.5%;
  font-family: var(--default-font-family);
  background-color: var(--color-white);
  background-color: white;
  color: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70rem;
  width: 100%;
  padding-top: 10rem;
}

.item-text {
  height: 70rem;
  width: 50%;
  position: relative;
  text-align: center;
}

.item-name {
  margin-top: 5rem;
  font-size: 5rem;
  height: 10rem;
  border-bottom: solid 1px black;
}

.item-image-container{
  position: relative;
  left: 5rem;
}
.item-image{
  border: 2px solid black;
  max-width: 30rem;
}
.item-description {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 2rem;
}

form {
  position: relative;
}

label {
  font-size: var(--default-font-size);
}

.btn-box{
  position: absolute;
  top: 10rem;
  left: 20rem;
}

.form-btn{
  color: white;
  font-size: var(--default-font-size);
  background-color: var(--color-primary);
  margin: 1rem;
  height: 4rem;
  width: 12rem;
  font-weight: bold;
  padding: 1rem;
}

.form-btn:hover{
  background-color: rgba(3, 165, 252, .9)
}

input {
  width: 30%;
  margin: 1rem;
}
.quantity-selection{
  margin: 1rem;
}
form h1{
  position: absolute;
  top: 4rem;
  width: 5rem;
  left: 28rem;
}

.price-tag {
  font-size: var(--default-font-size);
  position: absolute;
  top: 4rem;
}

.seller-review-text {
  font-size: 3rem;
}
.seller-review {
  margin-left: 8%;
  margin-bottom: 10%;
  font-size: 3rem;
}
.checked {
  color: orange;
}
