html {
  font-size: 62.5%;



  color: white;
  background-attachment: fixed;
  height: 100rem;
  background-image: linear-gradient(
      to bottom ,
      rgba(0,0,0, 0.5),
      rgb(0,0,0,.3)
  ), url(../img/background-main.jpg);
  background-position: left;
  background-size: cover;
}
.body-two {
  padding-top: 10rem;
  padding-bottom: 20rem;
}

.top-header {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: "Lato";
  padding-bottom: 5rem;
}

.item-row {
  border-radius: 2rem;
  display: flex;
  margin-bottom: 3rem !important;
  justify-content: center;
  justify-content: space-evenly;
  background-color: white;
  margin: 0 auto;
  width: 75%;
}

.item {
  flex-direction: column;
  text-align: center;
  border-radius: 2%;
  width: 20%;
  padding: 2%;
  background-color: white;
  color: black;
  padding-bottom: 3rem;
}

.line-separation {
  color: black;
}

.item-image {
  padding: 3%;
  width: 50%;
  border-radius: 10%;
}
.item-name {
  font-size: 3rem;
  font-family: "Lato";
  color: black;

}
.item-description {
  font-size: 1.5rem;
  font-family: "Lato";
  color: black;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
