@media only screen and (max-width: 812px){
	html{
		font-size: 35% !important;
 }
}

@media only screen and (max-width: 414px){
	html{
		font-size: 25% !important;
 }
}

@media only screen and (max-width: 375px){
	html{
		font-size: 20% !important;
 }
}

#warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #warning-message { display:block; }
        #full-page { display:none; }
    }

    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }
#warning-message{
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}