@media only screen and (max-width: 812px){
	html{
		font-size: 35% !important;
 }
}

@media only screen and (max-width: 414px){
	html{
		font-size: 25% !important;
 }
}

@media only screen and (max-width: 375px){
	html{
		font-size: 20% !important;
 }
}

#orientation-container { display:block; }
@media only screen and (orientation:portrait){
  #orientation-container {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation:landscape){
  #orientation-container {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
