:root {
  --color-primary: rgb(3, 165, 252);
  --color-secondary: rgb(194, 194, 194);

  --default-font-size: 3rem;
  --default-font-family: "Lato";
}

html {
  font-size: 62.5%;
  font-family: var(--default-font-family);
  background-color: var(--color-white);
  background-color: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 33rem;
  left: 10rem;
  width: 50%;
  height: 14rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1rem 4rem var(--color-secondary),
    0 0 0 1rem var(--color-primary);
  transform: scale(0.5);
  transform-origin: 0% 100%;
}

form {
  height: 11rem;
}

input[type="text"] {
  width: 100%;
  height: 11rem;
  font-size: 6rem;
  line-height: 1;
  color: black;
}

input[type="text"]::placeholder {
  color: var(--color-primary);
  font-size: 4rem;
}

#s-cover {
  width: 1px;
  padding-left: 4rem;
}

button {
  position: relative;
  display: block;
  width: 8rem;
  height: 10rem;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -1rem;
  left: 0;
  width: 4rem;
  height: 4rem;
  margin-top: 0;
  border-width: 1rem;
  border: 5px solid black;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 4rem;
  left: 4rem;
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 1rem;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 1rem;
  background-color: black;
  border-radius: 1rem;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 7rem;
  height: 1rem;
  border-width: 0;
  background-color: black;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 6rem;
  width: 3rem;
  margin-top: -1rem;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 3rem;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: 1rem;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 4rem;
  background-color: black;
}
