:root {
  --color-primary: rgba(50, 131, 168);
  --color-primary-transparent: rgba(50, 131, 168, .7);
  --color-secondary: rgb(50, 152, 168);

  --default-font-size: 2rem;
  --default-font-family: "Lato";
}

html {
  font-size: 62.5%;
  font-family: var(--default-font-family);
  background-color: var(--color-white);
  background-color: white;
  color: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 5;
  margin-top: 5rem;
}

.user-search {
  background: var(--color-secondary);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
}

.user-search-banner {
  margin: 1rem;
  padding-right: 1rem;
}

.item-search {
  width: 30rem;
  height: 3rem;
}

.search-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

.display {
  background-attachment: fixed;
  height: 100rem;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5),
      rgb(0, 0, 0, .3)), url(../img/background-main.jpg);
  background-position: left;
  background-size: cover;
}

.headers {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 65rem;
  height: 40rem;
  top: 8rem;
  left: 10rem;
  border-radius: 2rem;
}

.header-main {
  color: white;
  text-align: left;
  width: 100%;
  font-size: 6rem;
  position: absolute;
  margin-left: 9rem;
  top: 1rem;
  left: 1rem;
  font-weight: lighter;
  animation: typewriter 2.5s steps(50) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 3s;
}

.header-sub {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 9rem;
  text-align: left;
  width: 100%;
  font-size: 3rem;
  position: absolute;
  top: 15rem;
  left: 1rem;
  font-weight: lighter;
}

.text-area {
  font-size: 3rem;
}

.panel-title {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.item-panel {
  height: fit-content;
  width: 100%;
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: white;
  width: 17rem;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-label:hover {
  text-decoration-style: underline;
}

.card-image {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}

.header-global {
  width: 100%;
  height: 5rem;
  background-color: white;
  position: fixed;
  z-index: 999;
  border-bottom: solid 1px black;
}

.header-left {
  float: left;
}

.header-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  float: right;
  height: 100%;
}

.btn {
  margin-left: 3rem;
  font-size: 2rem;
  color: black;
  transition: all 1s ease;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  text-decoration: underline;
  box-shadow: 0 8 16 rgba(155, 155, 7);
}

.btn-continue {
  color: white;
  font-family: "Fjalla One", sans-serif;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  height: 3rem;
  width: fit-content;
  margin-left: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 2rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  text-decoration: underline;
}

/* .darkmode-checkbox:checked~ * {
  transform: 
} */

#overlay-background {
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  visibility: hidden;
}

.nav-button {
  border-radius: black 4px;
}

.sidebar {
  position: fixed;
  left: -30rem;
  width: 20rem;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: all 0.4s ease;
}

.sidebar header {
  font-size: 3rem;
  color: black;
  text-align: center;
  line-height: 5rem;
  user-select: none;
  margin-top: 5rem;
}

.sidebar ul a {
  display: block;
  height: 5rem;
  width: 100%;
  line-height: 5rem;
  font-size: 2rem;
  color: black;
  box-sizing: border-box;
  transition: 0.4s;
  text-align: center;
}

ul li:hover a {
  padding-left: 5px;
  background-color: white;
}

.siderbar ul a i {
  margin-right: 1rem;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
}

label #btn {
  left: 2rem;
  top: 1rem;
  font-size: 3rem;
  color: black;
  transition: all 0.4s;
}

label #cancel {
  z-index: 1111;
  left: -10rem;
  top: 1rem;
  font-size: 4rem;
  color: black;
  padding: 1rem 2rem;
  transition: all 0.5s ease;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn {
  left: 12rem;
  opacity: 0;
  pointer-events: none;
}

#check:checked~label #cancel {
  left: 12rem;
}

.line-1 {
  white-space: nowrap;
  overflow: hidden;
}

.filler {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  font-size: 8rem;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 22em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}
